<div class="container">
  <div class="row row-content">
    <div class="col-xs-12">
      <h3>Add new promo</h3>
      <div ng-if="!showForm">
        <h3>{{message}}</h3>
      </div>
    </div>
    <div ng-class="showForm?'visible':'invisible'" class="col-xs-12 col-sm-12">
      <form class="form-horizontal" name="addPromoForm" ng-submit="addPromo()">
        <div class="form-group" ng-class="{ 'has-error' : addPromoForm.title.$error.required && !addPromoForm.title.$pristine }">
          <label for="title" class="col-sm-2 control-label">Title</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="title" name="title" placeholder="Enter Title" ng-model="promo.title" required>
            <span ng-show="addPromoForm.title.$error.required && !addPromoForm.title.$pristine" class="help-block">Promo title is required.</span>
          </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : addPromoForm.description.$error.required && !addPromoForm.description.$pristine }">
          <label for="description" class="col-sm-2 control-label">Description</label>
          <div class="col-sm-9">
            <textarea class="form-control" id="description" name="description" rows="12" ng-model="promo.description" required>
            </textarea>
            <span ng-show="addPromoForm.description.$error.required && !addPromoForm.description.$pristine" class="help-block">Promo description is required.</span>
          </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : addPromoForm.category.$error.required && !addPromoForm.category.$pristine }">
          <label for="category" class="col-sm-2 control-label">Category</label>
          <div class="col-sm-9">
            <select class="form-control" id="category" name="category" ng-model="promo.category" ng-options="category.value as category.label for category in categories.slice(1,categories.length)" required>
              <option value="">-select categories-</option>
            </select>
            <span ng-show="addPromoForm.category.$error.required && !addPromoForm.category.$pristine" class="help-block">Promo category is required.</span>
          </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : addPromoForm.type.$error.required && !addPromoForm.type.$pristine }">
          <label for="type" class="col-sm-2 control-label">Type</label>
          <div class="col-sm-9">
            <select class="form-control" id="type" name="type" ng-model="promo.type" ng-options="type.value as type.label for type in types" required>
              <option value="">-select types-</option>
            </select>
            <span ng-show="addPromoForm.type.$error.required && !addPromoForm.type.$pristine" class="help-block">Promo type is required.</span>
          </div>
        </div>
        <div class="form-group">
          <label for="price" class="col-sm-2 control-label">Price</label>
          <div class="col-sm-9">
            <input type="number" step="0.01" class="form-control" id="price" name="price" placeholder="Enter price" ng-model="promo.price">
          </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : addPromoForm.url.$error.required && !addPromoForm.url.$pristine }">
          <label for="url" class="col-sm-2 control-label">Url</label>
          <div class="col-sm-9">
            <input type="url" class="form-control" id="url" name="url" placeholder="Enter Url" ng-model="promo.url">
            <span ng-show="!addPromoForm.url.$pristine" class="help-block">Promo url should be started with protocol name e.g. http, https.</span>
          </div>
        </div>
        <div class="form-group">
          <label for="image" class="col-sm-2 control-label">Image</label>
          <div class="col-sm-9">
            <input id="input" type="file" style="padding-top:6px" id="image" name="image" onchange="angular.element(this).scope().handleFiles()">
            <br>
            <img src="" id="image">  
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

