<div class="row row-content">
  <div ng-if="!showPromos">
    <h3>{{message}}</h3>
  </div>
  <ul class="media-list">
    <li class="media-border-bottom" dir-paginate="promo in promos | orderBy:'-createdAt' | itemsPerPage: 6">
      <div class="media-left vertical-center">
        <a ui-sref="app.editpromo({id: promo.id})">
          <img class="media-object img-thumbnail img-center" ng-src={{promo.image}}>
        </a>
      </div>
      <div class="media-body">
        <a class="icon-details" ui-sref="app.promodetails({id: promo.id})">
          <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> <span>{{getRating(promo)}}</span>
        </a>
        <a class="icon-details" ui-sref="app.promodetails({id: promo.id})">
          <span class="glyphicon glyphicon-comment" aria-hidden="true"></span> <span>{{getSumComments(promo)}}</span>
        </a>
        <span>{{promo.category}}</span>
        <span>{{promo.type}}</span>
        <a ui-sref="app.editpromo({id: promo.id})">
          <h2 class="media-heading">{{promo.title | limitTo: 75}}{{promo.title.length > 75 ? '...' : ''}}</h2>
        </a>
        <pre class="pre-short">{{promo.description}}</pre>
        <p><a class="btn btn-primary btn-xs" ui-sref="app.promodetails({id: promo.id})">View</a>
          <a class="btn btn-primary btn-xs" ui-sref="app.editpromo({id: promo.id})">Edit</a>
          <a class="btn btn-primary btn-xs" ng-click="openConfirmDelete(promo.id)">Delete</a></p>
      </div>
    </li>
  </ul>
  <div class="mini-nav align-center" ng-controller="PaginationController">
    <dir-pagination-controls on-page-change="pageChanged()"></dir-pagination-controls>
  </div>
</div>